.mainFrame {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: fit-content;
    margin: 0 auto;
    background-color: #84e19b;
}

.winFrame {
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.grnButton {
    border: solid 2px #6aaf7a;
    background-color: #84e19b;
    border-radius: 8px;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 500;
    width: 140px;
    height: 30px;
}

.grnButton:hover {
    background-color: #6aaf7a;
}

.Refresh>div {
    margin-top: 20px;
}

.mainFrame>div {
    width: 100px;
    height: 100px;
    background-color: #6aaf7a;
    font-size: 50px;
    margin: 10px;
    border-radius: 10px;
}